* { /* Black background */
  background-color: black;
}


h1 { /* Top title styling */
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}


header,
article { /* Center align for everything but the footer */
  text-align: center;
}


#link { /* Styling for the download links */
  color: Aquamarine;
  font-size: 16px;
}
